<div class="container">
  <div class="card-product">
    <% @bookings.each do |booking| %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= "Animal name: "booking.animal.name %></h2>
        <h2><%= "Booking status"booking.status %></h2>
        <h2><%= "Start date: "booking.start_date %></h2>
        <h2><%= "End date: "booking.end_date %></h2>
      </div>
    <% end %>
</div>
</div>
