<div class="video">
  <video autoplay muted loop id="myVideo" style="width: 100%">
    <source src="https://cdn.videvo.net/videvo_files/video/free/2019-11/small_watermarked/190301_1_25_10_preview.webm" type="video/webm">
  </video>
  <div class="overlayText">
    <div class="d-flex align-items-center h-100 flex-column pt-5">
    <h1>Exoticals</h1>
    <p>Find your animal!</p>
    </div>
  </div>
</div>
