.booking-buttons {
  display: flex;
  margin: 12px;
}

.button-custom {
margin: 4px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #46876a;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #31644e;
  color: white;
}
